.top-button-container {
    width: 390px;
    height: 50px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    margin-bottom: 20px; /* Add margin to separate from the buttons */
}

.back-button {
    background: none;
    border: none;
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
}

.title {
    flex-grow: 1;
    text-align: left;
    margin: 0 10px;
    font-size: 18px; /* Adjust size as needed */
}

.menu-button {
    background: none;
    border: none;
    font-size: 18px; /* Adjust size as needed */
    cursor: pointer;
}

.select-container {
    position: fixed;
    top: 100px; /* Ensure the buttons are positioned at the top */
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    z-index: 10; /* Ensure buttons are above the calendar */
    border-bottom: 2px solid #FF4E00; /* Add border bottom for buttons */
}

.cal-button {
    background: #FFCDB7;
    border: 2px solid #FF4E00;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    padding: 10px 50px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    transition: background 0.3s, color 0.3s;
    justify-content: center;
}

.cal-button.active {
    border-bottom-color: white;
    border-bottom-width: 0;
    background: white; /* Background color for active button */
}

.button-container .cal-button.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px; /* Connect line below active button */
    height: 4px; /* Height of the connection line */
    background: white; /* Color of the connection line */
}

.button-container .cal-button:not(.active) {
    border-bottom: 3px solid transparent; /* Border for inactive buttons */
}
