.body {
    margin: 0;
    place-items: center;
}

.title{
    position: absolute;
    margin-top: -40px;
    font-weight: bolder;
}
.button-container {
    position: absolute;
    display: flex;
    border-bottom: 2px solid #FF4E00; 
    background-color:white;
    width: 400px;
    height: 36px;
    top:100px;
    gap: 0px;

} 

.cal-button {
    position: relative;
    top: -2.7px;
    width: 150px;
    left: 8px;
    background: #FFCDB7;
    border: 2px solid #FF4E00;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 10px;

}

.cal-button.active {
    background: white;
    border-bottom: 2px solid white; 
    margin-bottom: -0.5px; 
    z-index: 2; 
}
