.title-box { 
  position: absolute;
  width: 390px;
  height: 57px;
  top: 59px;
  border-bottom: 1px solid #CACACA;
}

.title {
  position: absolute;
  height: 24px;
  top: 75px;
  left: 45px;
  font-size: 20px;
  white-space: nowrap;
}

.profile-img {
  position: absolute;
  top: 182px;
  left: 143px;
}

.name-label {
  position: absolute;
  width:45px;
  height: 24px;
  top: 325px;
  left: 40px;
  font-size: 16px;
}

.name-input {
  position: absolute;
  width: 210px;
  height: 47px;
  top: 353px;
  left: 31px;
  border-radius: 10px;
  background-color: #FAFAFA;
  border-color: #FAFAFA;
}

.name-check {
  position: absolute;
  width: 110px;
  height: 47px;
  top: 353px;
  left: 253px;
  background-color: #EEEEEE;
  color: #818181;
}

.name-error {
  position: absolute;
  width: 136px;
  height: 16px;
  top: 406px;
  left: 40px;
  font-size: 12px;
  color: #BF4139;
}

.next-btn {
  position: absolute;
  width: 336px;
  height: 47px;
  top: 633px;
  left: 32px;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: #FF4E00;
  color: white;
}