.title-box { 
  position: absolute;
  width: 390px;
  height: 57px;
  top: 59px;
  border-bottom: 1px solid #CACACA;
}

.title {
  position: absolute;
  width: 75px;
  height: 24px;
  top: 75px;
  left: 45px;
  font-size: 20px;
  white-space: nowrap;
}

.term-name {
  position: absolute;
  height: 20px;
  top: 150px;
  left: 20px;
  font-size: 14px;
}

.term-detail {
  position: absolute;
  width: 353px;
  height: 372px;
  top: 194px;
  left: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 12px;
}

.term-item1 {
  position: absolute;
  width: 286px;
  height: 681px;
  top: 37px;
  left: 28px;
}

.term-item2 {
  position: absolute;
  width: 286px;
  height: 681px;
  top: 87px;
  left: 28px;
}

.term-item3 {
  position: absolute;
  width: 286px;
  height: 681px;
  top: 258px;
  left: 28px;
}

.term-item4 {
  position: absolute;
  width: 286px;
  height: 681px;
  top: 325px;
  left: 28px;
}

.custom-checkbox1 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 37px;
  border-radius: 4px;
  background-color: #E2E2E2;
}

.custom-checkbox2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 87px;
  border-radius: 4px;
  background-color: #E2E2E2;
}

.custom-checkbox3 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 258px;
  border-radius: 4px;
  background-color: #E2E2E2;
}

.custom-checkbox4 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 325px;
  border-radius: 4px;
  background-color: #E2E2E2;
}

.custom-checkbox5 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 572px;
  left: 281px;
  border-radius: 4px;
  background-color: #E2E2E2;
}

.custom-checkbox1.checked {
  background-color: #FF4E00;
}

.custom-checkbox2.checked {
  background-color: #FF4E00;
}

.custom-checkbox3.checked {
  background-color: #FF4E00;
}

.custom-checkbox4.checked {
  background-color: #FF4E00;
}

.custom-checkbox5.checked {
  background-color: #FF4E00;
}

.check-detail {
  color: #787878;
  font-size: 12px;
}

.check-caution {
  color: #FF4848;
  font-size: 11px;
}

.term-all-item {
  position: absolute;
  width: 64px;
  height: 17px;
  top: 573px;
  left: 304px;
}